{% extends 'layout.html' %}

{% block head %}
<title>Admin - Dashboard</title>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>

                <div class="btn-toolbar mb-2 mb-md-0">
                    <button type="button" class="btn btn-primary" data-action="add" data-toggle="modal"
                        data-target="#editModal">
                        Add New
                    </button>
                    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
                </div>
            </div>

            <!-- <div class="form-group w-25">
                <div class="input-group">
                    <input type="text" name="search" id="search" placeholder="Search by All" class="form-control" />
                </div>
            </div> -->

            <form class="form-inline " action="/search" method="POST">
                <div class="form-group w-25 mb-2 mr-2">
                    <input type="text" name="search" class="w-100 form-control" id="search" placeholder="Search by username" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary mb-2">Search</button>
            </form>

            <table class="table mt-3 table-hover table-responsive">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody id="result">
                    {% for user in users %}
                    <tr>
                        <th scope="row" >{{user.id}}</th>
                        <td class="username">
                            {{user.username}}
                        </td>
                        <td class="email">{{user.email}}</td>
                        <td class="role">
                            {{ user.role }}
                        </td>
                        <td style="display: none;" class="password">{{user.password}}</td>
                        <td>
                            <button type="button" {% if user.role == 'admin' %} disabled="true" {% endif %}
                                class="btn btn-warning" data-row="{{user}}" data-action="edit" data-toggle="modal"
                                data-target="#editModal">
                                Edit
                            </button>
                            <a class="btn btn-danger" {% if user.role == 'admin' %} href="javascript:void(0)" {% else %}
                                href="/user/delete/{{user.id}}" {% endif %}>Delete</a>
                        </td>
                    </tr>
                    {%  endfor %}

                </tbody>
            </table>


            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Add Person</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/add-person" id="personForm" method="POST">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" class="form-control" id="username"
                                        placeholder="Username">
                                    <!-- <small id="emailHelp" class="form-text text-muted"></small> -->
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="email" name="email" class="form-control" id="email"
                                        placeholder="Enter email">
                                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                                </div>
                                <div class="form-group hidden-password" style="display: none;">
                                    <label for="password">Password</label>
                                    <input type="hidden" name="password" class="form-control randomPassword"
                                        id="password" placeholder="Password">
                                </div>

                                <input type="hidden" name="redirect" value="admin">

                                <div class="form-group">
                                    <label for="role">User Role</label>
                                    <select name="role" class="form-control mb-3" id="role">
                                        <option value="Student">Student</option>
                                        <option value="Techer">Techer</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" form="personForm" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
{% endblock %}